* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    height: 100%;
    border-radius: 10px;
}

cite {
    margin-left: 1rem;
    margin-right: 1rem;
    line-height: 2rem;
}

header {
    box-sizing: border-box;
    position: sticky;
    top: 0;
    height: 50px;
    background-color: #342216;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #b1734a;
}

header a {
    height: 85%;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    margin-left: 10px;
}

header nav a:hover, .active {
    background-color: #654321;
}

body {
    background-color: #55391c;
}

main {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1rem;
}

.coffee-types {
    width: 80%;
    border-radius: 8px;
    background-color: white;
    padding: 1rem;
}

.coffee-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.coffee-info img {
    width: 30%;
    border-radius: 8px;
}

.location, .open-hours {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 1rem;
}

form {
    width: 400px;
    padding: 1rem;
    background-color: #654321;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
}

form input, form select, form hr {
    margin-bottom: 1rem;
}

form input:last-child {
    margin-bottom: 0;
}

form label {
    margin-right: 1rem;
}

form input[type=text], 
form input[type=email], 
form input[type=password], 
form input[type=tel],
form select, 
form input[type=submit] {
    height: 2rem;
}